body {
  background-color: #f8f9fa;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.btn-outline-primary {
  background-color: bisque;
  border-width: 2px;
  transition: transform 0.2s;
}

.btn-outline-primary:hover {
  transform: scale(1.05);
  background-color: #007bff;
  color: #fff;
}

h1, h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f8f9fa; /* Light color for text */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Subtle text shadow for visibility */
}

.text-container {
  background-color: rgba(0, 0, 0, 0.6); /* Dark background with transparency */
  padding: 30px;
  border-radius: 10px;
  max-width: 90%; /* Adjust max-width as needed */
  margin: 0 auto; /* Centering the container */
  text-align: center;
}

h1.display-4 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #f8f9fa; /* Light text color for visibility */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adding text shadow for contrast */
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}

p.lead {
  font-size: 1.5rem;
  font-weight: 400;
  color: #f8f9fa; /* Light text color */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Subtle shadow for contrast */
  margin-bottom: 40px;
  line-height: 1.6;
}
